*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f4f0e5;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.secao{
    width: 700px;
    margin: 20px auto;
    text-align: center;
}

.imagem-logotipo{
    width: 200px;
}

.secao p a{
margin: 20px;
color: #542f0c;
}

h1{
    font-size: 28px;
    padding-top: 30px;
    border-top: 1px solid #DE8E37;
}

h2{
    font-size: 24px;
    color: #DE8E37;
    font-weight: normal;
    margin: 20px;
}

.imagem-banner{
    width: 700px;
}

.secao-destaque{
    background-color: #DE8E37;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.secao-destaque img{
    width: 400px;
    margin: 5px;
}

.secao-destaque h3{
    margin: 24px;
}

.secao-destaque h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.secao-destaque p, p{
    width: 500px;
    font-size: 17px;
    line-height: 28px;
    margin: 0 auto;
}

span{
    font-weight: bold;
}